In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/SLU Opportunity Wise Data-1710158595043 - SLU Opportunity Wise Data-1710158595043.csv')

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8558 entries, 0 to 8557
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Learner SignUp DateTime  8558 non-null   object
 1   Opportunity Id           8558 non-null   object
 2   Opportunity Name         8558 non-null   object
 3   Opportunity Category     8558 non-null   object
 4   Opportunity End Date     8558 non-null   object
 5   First Name               8558 non-null   object
 6   Date of Birth            8558 non-null   object
 7   Gender                   8558 non-null   object
 8   Country                  8558 non-null   object
 9   Institution Name         8553 non-null   object
 10  Current/Intended Major   8553 non-null   object
 11  Entry created at         8558 non-null   object
 12  Status Description       8558 non-null   object
 13  Status Code              8558 non-null   int64
 14  Apply Date               8558 non-null   object
 15  Opportunity Start Date   4764 non-null   object
dtypes: int64(1), object(15)
memory usage: 1.0+ MB
None

In [5]:
print(df.head(10))

  Learner SignUp DateTime                  Opportunity Id  \
0     06/14/2023 12:30:35  00000000-0GN2-A0AY-7XK8-C5FZPP
1     05/01/2023 05:29:16  00000000-0GN2-A0AY-7XK8-C5FZPP
2     04/09/2023 20:35:08  00000000-0GN2-A0AY-7XK8-C5FZPP
3     08/29/2023 05:20:03  00000000-0GN2-A0AY-7XK8-C5FZPP
4     01/06/2023 15:26:36  00000000-0GN2-A0AY-7XK8-C5FZPP
5     03/02/2024 19:16:07  00000000-0GN2-A0AY-7XK8-C5FZPP
6     05/31/2023 07:11:04  00000000-0GN2-A0AY-7XK8-C5FZPP
7     07/22/2023 07:30:25  00000000-0GN2-A0AY-7XK8-C5FZPP
8     03/20/2023 16:36:30  00000000-0GN2-A0AY-7XK8-C5FZPP
9     05/11/2023 03:40:33  00000000-0GN2-A0AY-7XK8-C5FZPP

                                    Opportunity Name Opportunity Category  \
0  Career Essentials: Getting Started with Your P...               Course
1  Career Essentials: Getting Started with Your P...               Course
2  Career Essentials: Getting Started with Your P...               Course
3  Career Essentials: Getting Started with Your P...               Course
4  Career Essentials: Getting Started with Your P...               Course
5  Career Essentials: Getting Started with Your P...               Course
6  Career Essentials: Getting Started with Your P...               Course
7  Career Essentials: Getting Started with Your P...               Course
8  Career Essentials: Getting Started with Your P...               Course
9  Career Essentials: Getting Started with Your P...               Course

  Opportunity End Date        First Name Date of Birth  Gender  \
0  06/29/2024 18:52:39             Faria    01/12/2001  Female
1  06/29/2024 18:52:39          Poojitha    08/16/2000  Female
2  06/29/2024 18:52:39          Emmanuel    01/27/2002    Male
3  06/29/2024 18:52:39  Amrutha Varshini    11/01/1999  Female
4  06/29/2024 18:52:39    Vinay Varshith    04/19/2000    Male
5  06/29/2024 18:52:39               Mor    05/12/1996    Male
6  06/29/2024 18:52:39           Fardeen    09/09/2001    Male
7  06/29/2024 18:52:39             Gauri    02/27/2006  Female
8  06/29/2024 18:52:39         SIDDHARTH    12/22/2005    Male
9  06/29/2024 18:52:39          Vanshika    06/26/1998  Female

                Country                     Institution Name  \
0              Pakistan                                Nwihs
1                 India                          SAINT LOUIS
2         United States     Illinois Institute of Technology
3         United States               Saint Louis University
4         United States               Saint Louis University
5                 India               Saint Louis University
6                 India     Illinois Institute of Technology
7  United Arab Emirates  GEMS New Millennium School Al Khail
8                 India                       Ashoka Academy
9                 India     Illinois Institute of Technology

                Current/Intended Major     Entry created at  \
0                            Radiology  03/11/2024 12:01:41
1                  Information Systems  03/11/2024 12:01:41
2                     Computer Science  03/11/2024 12:01:41
3                  Information Systems  03/11/2024 12:01:41
4                     Computer Science  03/11/2024 12:01:41
5               Mechanical Engineering  03/11/2024 12:01:41
6     Computer Science and Engineering  03/11/2024 12:01:41
7              Artificial Intelligence  03/11/2024 12:01:41
8  Robotics and Automation Engineering  03/11/2024 12:01:41
9                     Computer Science  03/11/2024 12:01:41

  Status Description  Status Code                Apply Date  \
0            Started         1080       06/14/2023 12:36:09
1            Started         1080       05/01/2023 06:08:21
2            Started         1080  05/11/2023 1085640:21:29
3     Team Allocated         1070       10/09/2023 22:02:42
4            Started         1080       01/06/2023 15:40:10
5         Waitlisted         1040       03/02/2024 20:30:35
6           Withdraw         1110       06/14/2023 05:29:41
7     Team Allocated         1070       07/22/2023 07:44:24
8            Started         1080       05/24/2023 13:44:09
9     Team Allocated         1070       12/17/2023 02:58:44

  Opportunity Start Date
0    11/03/2022 18:30:39
1    11/03/2022 18:30:39
2    11/03/2022 18:30:39
3    11/03/2022 18:30:39
4    11/03/2022 18:30:39
5                    NaN
6    11/03/2022 18:30:39
7    11/03/2022 18:30:39
8    11/03/2022 18:30:39
9    11/03/2022 18:30:39

In [6]:
print(df.describe())

       Status Code
count  8558.000000
mean   1052.225987
std      21.665207
min    1010.000000
25%    1030.000000
50%    1050.000000
75%    1070.000000
max    1120.000000

In [7]:
print("Duplicate Rows:", df.duplicated().sum())

Duplicate Rows: 0

In [9]:
print(df.isnull().sum())

Learner SignUp DateTime       0
Opportunity Id                0
Opportunity Name              0
Opportunity Category          0
Opportunity End Date          0
First Name                    0
Date of Birth                 0
Gender                        0
Country                       0
Institution Name              5
Current/Intended Major        5
Entry created at              0
Status Description            0
Status Code                   0
Apply Date                    0
Opportunity Start Date     3794
dtype: int64

In [11]:
# Convert date columns to datetime format
date_columns = [
    "Learner SignUp DateTime", "Opportunity End Date", "Date of Birth",
    "Entry created at", "Apply Date", "Opportunity Start Date"
]

In [13]:
for col in date_columns:
    df[col] = pd.to_datetime(df[col], errors='coerce')

In [33]:
# Handle missing values
df = df.copy()
df.loc[:, "Institution Name"] = df["Institution Name"].fillna("Unknown")
df.loc[:, "Opportunity Start Date"] = df["Opportunity Start Date"].fillna(df["Opportunity Start Date"].mode()[0])

In [30]:
# Fix Apply Date errors (drop rows with invalid timestamps)
df = df[df["Apply Date"].notna()]

In [34]:
# Standardize categorical data
df.loc[:, "Institution Name"] = df["Institution Name"].str.title().str.strip()
df.loc[:, "Opportunity Category"] = df["Opportunity Category"].str.title().str.strip()
df.loc[:, "Current/Intended Major"] = df["Current/Intended Major"].str.title().str.strip()
df.loc[:, "Country"] = df["Country"].str.title().str.strip()
df.loc[:, "Gender"] = df["Gender"].str.capitalize().str.strip()
df.loc[:, "Status Description"] = df["Status Description"].str.title().str.strip()
df.loc[:, "Institution Name"] = df["Institution Name"].str.replace(r"(?i)\bst\.?\s*louis\b", "Saint Louis", regex=True)

In [45]:
# Remove "Time to Apply" column if it exists
df = df.drop(columns=["Time to Apply"], errors='ignore')

In [46]:
# Remove duplicates
df.drop_duplicates(inplace=True)

In [47]:
# Feature Engineering
df["Age"] = (pd.Timestamp.today() - df["Date of Birth"]).dt.days // 365
df["Opportunity Duration"] = (df["Opportunity End Date"] - df["Opportunity Start Date"]).dt.days

In [48]:
# Save the cleaned dataset
cleaned_file_path = "Cleaned_SLU_Opportunity_Data.csv"
df.to_csv(cleaned_file_path, index=False)

print("Dataset cleaned and saved as", cleaned_file_path)

Dataset cleaned and saved as Cleaned_SLU_Opportunity_Data.csv